# fly.toml app configuration file generated for nuzantara-webapp
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "nuzantara-webapp"
primary_region = "sin"
kill_signal = "SIGINT"
kill_timeout = "5s"

[experimental]
  auto_rollback = true

[env]
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
