# fly.toml app configuration file generated for bali-zero-journal
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "bali-zero-journal"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"
  PORT = "3000"

[[services]]
  internal_port = 3000
  protocol = "tcp"
  processes = ["api"]

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.http_checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"
    method = "GET"
    path = "/health"
    protocol = "http"
    tls_skip_verify = false

[processes]
  api = "node dist/src/app.js"
  scraper = "node dist/src/scraper/orchestrator.js"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

